<launch>
  <arg name="sim_time" default="-1"/>

  <include file="$(find lem_simulator)/launch/_simulator.launch">
    <arg name="param_file" value="$(find lem_simulator)/config/params_default_lem.json"/>
    <arg name="cones_file" value="$(find lem_simulator)/tracks/acceleration_cones.csv"/>
    <arg name="centerline_file" value="$(find lem_simulator)/tracks/acceleration_centerline.csv"/>
    <arg name="log_file" value="$(find lem_simulator)/logs/acceleration_no_pp.csv"/>
    <arg name="sim_time" value="$(arg sim_time)"/>
    <arg name="initial_x_m" value="0.0"/>
    <arg name="initial_y_m" value="0.0"/>
    <arg name="initial_yaw_rad" value="0.0"/>
  </include>

  <node pkg="lem_simulator"
        type="false_dv_path_planning_node"
        name="centerline_publisher"
        output="screen">
    <param name="track_file"
           value="$(find lem_simulator)/tracks/acceleration_centerline.csv"/>
    <param name="frame_id" value="map"/>
    <param name="publish_rate" value="10.0"/>
  </node>
  <include file="$(find dv_control)/launch/control.launch"/>
</launch>
